$black-text: #222;

$green: #99A097;
$blue: #698A9A;
$red: #994F56;
$pink: #8F93AF;

$dark-green: #808B7C;
$dark-blue: #51748A;
$dark-red: #B34F56;
$dark-pink: #8F93C8;

$transparent-green: rgba(184, 193, 186, 0.55);
$transparent-blue: rgba(135, 157, 172, 0.76);
$transparent-red: rgba(165, 129, 127, 0.60);
$transparent-pink: rgba(192, 201, 220, 0.55);

$success-button-color: #5aac44;
$success-button-color-hover: #3a8a24;

$transparent-black: rgba(0, 0, 0, 0.2);
$less-transparent-black: rgba(0, 0, 0, 0.5);
$transparent-white: rgba(255, 255, 255, 0.4);
$white: #fbfbfb;

$list-width: 300px;
$list-radius: 6px;
